{% extends "base.html" %}

{% load static %}

{% block content %}
		<section class="registration page-background backend-content" style="
												  background-image: linear-gradient(
												  	to bottom,
												  	rgba(161, 8, 167, 0.6),
												  	rgba(161, 8, 167, 0.8)
												  ),
												  url('{% static "images/code.jpg" %}');">
			<div class="form-registration container container-lg">
				<h2>Регистрация</h2>
				<form action="#" method="post">
					<div class="input-group">
						<label for="username"><i class="icon-user"></i></label>
						<input type="text" id="username" placeholder="Username" required />
					</div>
					<div class="input-group">
						<label for="password"><i class="icon-lock"></i></label>
						<input
							type="password"
							id="password"
							placeholder="Password"
							required
						/>
					</div>
					<div class="input-group">
						<label for="confirm-password"><i class="icon-lock"></i></label>
						<input
							type="password"
							id="confirm-password"
							placeholder="Confirm Password"
							required
						/>
					</div>
					<div class="input-group">
						<label for="email"><i class="icon-envelope"></i></label>
						<input type="email" id="email" placeholder="E-mail" required />
					</div>
					<div class="checkbox-group">
						<input type="checkbox" id="terms" required />
						<label for="terms">Я принимаю условия использования</label>
					</div>
					<button type="submit" class="signup-btn">Зарегистрироваться</button>
					<p class="login-link">
						Уже зарегистрированы? <a href="signin.html">Авторизация</a>
					</p>
				</form>
			</div>
		</section>
{% endblock content %}