{% extends "base.html" %}

{% load static %}

{% block content %}
    <section class="registration page-background backend-content" style="
												  background-image: linear-gradient(
												  	to bottom,
												  	rgba(161, 8, 167, 0.6),
												  	rgba(161, 8, 167, 0.8)
												  ),
												  url('{% static "images/code.jpg" %}');">
			<div class="signin-form container container-lg">
				<h2>Вход</h2>
				<form action="{% url "users:sign_in" %}" method="post">
					{% csrf_token %}
					<div class="input-group">
						<label for="username"><i class="icon-user"></i></label>
						<input
							type="text"
							id="username"
							name="username"
							placeholder="{{ form.username.field.widget.attrs.placeholder }}"
							required="{{ form.username.required }}"	
						/>
					</div>
					<div class="input-group">
						<label for="password"><i class="icon-lock"></i></label>
						<input
							type="password"
							id="password"
							name="password"
							placeholder="{{ form.password.field.widget.attrs.placeholder }}"
							required="{{ form.password.required }}"	
						/>
					</div>

					<div class="checkbox-group">
						<input type="checkbox" id="remember-me" />
						<label for="remember-me">Запомнить меня</label>
						<a href="#" class="forgot-password">Забыли пароль?</a>
					</div>
					<button type="submit" class="signup-btn">Войти</button>
				</form>

				<p>Нет аккаунта? <a href="{% url "users:registration" %}">Зарегистрироваться</a></p>
			</div>
		</section>
{% endblock content %}